<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.css') }}"
    />

    <title>Weather App</title>
    <style>
      form {
        margin: 30px auto;
        width: 90% !important;
      }

      form h2 {
        margin: 20px 0px 30px 0px;
      }

      form input,
      label {
        margin: 5px 0px;
      }
      .container {
        width: 90% !important;
      }
      .info {
        display: flex;
      }
    </style>
  </head>

  <body>
    <form class="container" method="post">
      <h2><i class="bi bi-cloud-haze"></i>생활지상 기수</h2>

      <div class="form-group">
        <label>도시이름 입력</label>
        <input
          type="text"
          class="form-control"
          placeholder="도시명"
          name="name"
        />
      </div>

      <br />
      <!-- 지역검색 시 출력 -->
      <button type="submit" class="btn btn-primary">지역 검색</button>
    </form>      
    <div class="container">
      <div class="form-group">

        <p>검색시간: {{ current_time }}시, 발표시간 3시간 기준으로 검색시간 출력</p>
        <label>여름철 체감온도</label><label class = "test">자외선차단지수</label>
      </div>
      <div class="d-flex"> <!-- d-flex 클래스 추가 (Bootstrap 5 기준) -->
        <!-- 1번째 체감온도 -->
        <div class="card text-dark bg-white mb-3" style="max-width: 20rem">
          <div class="card-body">
            <h1 class="card-title">{{ city_name }}</h1>
            <div class="info">
              <div class="right">
                <div>
                  {% for key, value in temp.items() %}
                    <h2 class="card-text">{{key}}시 - {{ value }}&deg;C</h2>
                  {% endfor %}
                </div>
              </div>
              <div class="left">
                &nbsp;&nbsp;
              </div>
            </div>
            <br />
          </div>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <!-- 2번째 자외선 차단 지수 -->
        <div class="card text-dark bg-white mb-3" style="max-width: 20rem">
          <div class="card-body">
            <h1 class="card-title">{{ city_name }}</h1>
            <div class="info">
              <div class="right">
                <div>
                  {% for key, value in suntemplist.items() %}
                    <h2 class="card-text">{{key}}시 - {{ value }}</h2>
                  {% endfor %}
                </div>
                
              </div>
              <div class="left">
                &nbsp;&nbsp;
              </div>
            </div>
            <br />
          </div>
        </div>
        <!-- 이미지 넣기 (차단지수,체감온도 경고, 위험일때 상황들)-->
        <div class = "image_all">

          <!-- 이미지 넣기(온도)-->
          <div class = "image_temp">
            <img src="{{ url_for('static', filename='temp.jpg') }}" alt="" width="600" height="600" id = "change">
          </div>
        </div>
      </div>
      <div>
        <head>
        <style>         
        .button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;}
        /* 조건에 따라 버튼의 배경색 변경 */
        .yellow-button{
        background-color: #ffff00;
        color: #000;
        }
        .red-button {
        background-color: #ff0000;
        color: #fff;
        }
        </style>
        </head>            
          <script>
            document.addEventListener("DOMContentLoaded", function () {
            // HTML 문서가 완전히 로드된 후 실행될 코드
            var jsondata = JSON.parse('{{data|tojson|safe|replace("\'","\'")}}'); // mtemp, msun 정보를 파이썬에서 받아와서 딕셔너리 형태로 바꿈(쓸 수 있게)
            let btn1_color = document.getElementById("btn1"); 
            let btn2_color = document.getElementById("btn2");
            console.log(btn1_color);
            console.log(btn2_color);

            if (btn1_color !== null && btn2_color !== null) {
              if (jsondata.tempstr == "주의") {
                console.log("버튼1 주의");
                btn1_color.style.backgroundColor = "#ffff00";
              } else if (jsondata.tempstr == "경고") {
                console.log("버튼1 경고");
                btn1_color.style.backgroundColor = "#ff0000"; // 경고일 때 빨간색으로 변경
              }

              if (jsondata.sunstr == "높음") {
                console.log("버튼2 주의");
                btn2_color.style.backgroundColor = "#ffff00";
              } else if (jsondata.sunstr == "매우높음") {
                console.log("버튼2 경고");
                btn2_color.style.backgroundColor = "#ff0000";
              }
            } else {
              console.log("버튼1 또는 버튼2를 찾지 못했습니다.");
            }
          });

          // 체감온도, 자외선 차단지수 이미지 변경
          function changeImageAndButtonText() {
            var image = document.getElementById("change");
            var button = document.getElementById("btn3");
            if (button.innerHTML === "체감온도") {
                image.src = "{{ url_for('static', filename='sun.jpg') }}"; // 체감온도 이미지 경로
                button.innerHTML = "자외선 차단 지수";
            } else {
                image.src = "{{ url_for('static', filename='temp.jpg') }}"; // 자외선 차단 지수 이미지 경로
                button.innerHTML = "체감온도";
            }
        }
          </script> 
          <!-- <img id="myImage" src="" style="width:100px"> -->
                                        
        <!-- tempstr: 체감온도 "주의, 경고버튼" / sunstr: 자외선차단지수 "주의, 경고버튼" / 체감온도, 자외선 차단지수 이미지 변경 버튼 -->
        <button id = "btn1" class = "btn1" type="button">{{tempstr}}</button><button id = "btn2" class = "btn2" type="button">{{sunstr}}</button> <button id="btn3" class="btn3" onclick="changeImageAndButtonText()">체감온도</button> 
          </body>
      </div>
    </body>
        